.searchButtons{
  margin: 20px 0;
  float: right;
}
.fl-l{
  float: left;
}
.fl-r{
  float: right;
}
.clear{
  clear: both;
}
.longInput{
  width: 90%;
}
.normalInput{
  width: 50%;
}
.el-dialog{
  width: 80%;
}
.listButtonGroups{
  margin:20px 0;
  text-align:center;
  line-height: 30px;
}
.pagination{
  text-align:right;
  margin-bottom:20px;
}
.closeButton{
  text-align:right;
  padding-top:20px;
  border-top:1px solid #ddd
}
.closeBtn{
  text-align:right;
}
form.el-form {
  margin-top:  20px;
}
.btn {
  float: left
}
